footer
	.row
		.col-md-2
		.col-md-8
			.col-md-4
				img(src="../image/logo-grupo-la-republica.png")
				h4 Grupo La República Digital
				p Jr. Camaná 320 Cercado de Lima
					<br> Teléfono: 711-6000</br>
					<br> (Central Telefónica)</br>
				p Todos los derechos reservados -2015
			.col-md-2
				ul.list-unstyled
					li
					include mixin.jade
					+listafooter('Roger Federer')
					+listafooter('SBS')
					+listafooter('Scarlett Johansson')
					+listafooter('Scotiabank')
					+listafooter('Selena Goméz')
					+listafooter('Spiderman')
					+listafooter('Sporting Cristal')
					+listafooter('Sunat')
					+listafooter('Telefónica del Perú')
					+listafooter('The Walking Dead')
					+listafooter('Twitter')
					+listafooter('Universidad Cesar Vallejo ')
					+listafooter('Universidad San Martin')
					+listafooter('Universitario de Deportes')
					+listafooter('XBox')
					+listafooter('Youtube')
					+listafooter('Bayern Munich')
					+listafooter('Bayern Munich')
					+listafooter('BBVA')
					+listafooter('Xbox')
					+listafooter('BCP')
			.col-md-2
				ul.list-unstyled
					li
					include mixin.jade
					+listafooter('Al fondo hay sitio')
					+listafooter('Alejandro Toledo')
					+listafooter('Alianza Lima')
					+listafooter('Alianza Lima')
					+listafooter('Banco de la nación')
					+listafooter('Barack Obama')
					+listafooter('Universidad Cesar Vallejo')
					+listafooter('Universidad San Martin')
					+listafooter('Barcelona')
					+listafooter('Bayern Munich')
					+listafooter('Bayern Munich')
					+listafooter('BBVA')
					+listafooter('Xbox')
					+listafooter('BCP')
					+listafooter('Batman')
					+listafooter('Bayern Munich')
					+listafooter('Bayern Munich')
					+listafooter('BBVA')
					+listafooter('Xbox')
					+listafooter('BCP')
			.col-md-2
				ul.list-unstyled
					li
					include mixin.jade
					+listafooter('Roger Federer')
					+listafooter('SBS')
					+listafooter('Scarlett Johansson')
					+listafooter('Scotiabank')
					+listafooter('Selena Goméz')
					+listafooter('Spiderman')
					+listafooter('Sporting Cristal')
					+listafooter('Sunat')
					+listafooter('Telefónica del Perú')
					+listafooter('The Walking Dead')
					+listafooter('Twitter')
					+listafooter('Universidad Cesar Vallejo ')
					+listafooter('Universidad San Martin')
					+listafooter('Universitario de Deportes')
					+listafooter('XBox')
					+listafooter('Youtube')
					+listafooter('Bayern Munich')
					+listafooter('Bayern Munich')
					+listafooter('BBVA')
					+listafooter('Xbox')
					+listafooter('BCP')
			.col-md-2
				ul.list-unstyled
					li
					include mixin.jade
					+listafooter('Roger Federer')
					+listafooter('SBS')
					+listafooter('Scarlett Johansson')
					+listafooter('Scotiabank')
					+listafooter('Selena Goméz')
					+listafooter('Spiderman')
					+listafooter('Sporting Cristal')
					+listafooter('Sunat')
					+listafooter('Telefónica del Perú')
					+listafooter('The Walking Dead')
					+listafooter('Twitter')
					+listafooter('Universidad Cesar Vallejo ')
					+listafooter('Universidad San Martin')
					+listafooter('Universitario de Deportes')
					+listafooter('XBox')
					+listafooter('Youtube')
					+listafooter('Bayern Munich')
					+listafooter('Bayern Munich')
					+listafooter('BBVA')
					+listafooter('Xbox')
					+listafooter('BCP')
		
	.row
		ul.list-unstyled.list-inline
			li 
				a(href="#") Diarios del PAL:Clarin
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") La Tercera
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") El Universal Colombia
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") El Universal Venezuela
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") Vanguardia
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") La Prensa
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") El Salvador
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") La Verdad
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") El Diario Libre
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") El Diario de hoy
			li 
				img(src="../image/border_portada.gif")
			li 
				a(href="#") El Colombiano