footer
	.row
		.col-md-2
		.col-md-8
			.col-md-4
				img(src="../images/logo-grupo-la-republica")

			.col-md-2
				ul
					li Roger Federer
					li SBS
					li Scarlett Johansson
					li Scotiabank
					li Selena Gómez
					li Spiderman
					li Sporting Cristal
					li Sunat
					li Telefónica del Perú
					li The Walking Dead
					li Twitter
					li Universidad Cesar Vallejo
					li Universidad San Martín
					li Universitario de Deportes
					li Xbox
					li You Tube
					li Bayern Múnich
					li Bayern Múnich
					li BBVA
					li Xbox
					li BCP
			.col-md-2
				ul
					li Al fondo hay sitio
					li Alejandro Toledo
					li Alianza Lima
					li Alianza Lima
					li Banco de la Nación
					li Barack Obama
					li Universidad César
					li Vallejo
					li Universidad de San Martin
					li Barcelona
					li Bayern Múnich
					li Bayern Múnich
					li BBVA
					li Xbox
					li BCP
					li Batman
					li Bayern Múnich
					li Bayern Múnich
					li BBVA
					li Xbox
					li BCP
			.col-md-2
				ul
					li Al fondo hay sitio
					li Alejandro Toledo
					li Alianza Lima
					li Alianza Lima
					li Banco de la Nación
					li Barack Obama
					li Universidad César
					li Vallejo
					li Universidad de San Martin
					li Barcelona
					li Bayern Múnich
					li Bayern Múnich
					li BBVA
					li Xbox
					li BCP
					li Batman
					li Bayern Múnich
					li Bayern Múnich
					li BBVA
					li Xbox
					li BCP
			.col-md-2
				ul
					li Al fondo hay sitio
					li Alejandro Toledo
					li Alianza Lima
					li Alianza Lima
					li Banco de la Nación
					li Barack Obama
					li Universidad César
					li Vallejo
					li Universidad de San Martin
					li Barcelona
					li Bayern Múnich
					li Bayern Múnich
					li BBVA
					li Xbox
					li BCP
					li Batman
					li Bayern Múnich
					li Bayern Múnich
					li BBVA
					li Xbox
					li BCP
		.col-md-2
