header
	.row
		.col-md-2
		.col-md-8
			.row
				img(src="../image/banner_top.jpg")
			.row
				.col-md-6
					ul.list-unstyle.list-inline
						li
							a LIBERO.PE
						li
							a ELPOPULAR.PE
						li
							a FUNDACION GUSTAVO MOHME LLONA
				.col-md-6
					ul.list-unstyle.list-inline
						li
							a SUSCRIBETE AL BOLETIN
						li
							a 
								i.fa.fa-facebook
						li
							a
								i.fa.fa-twitter
						li
							a
								i.fa.fa-google-plus
						li
							a
								i.fa.fa-envelope
						li
							a
								i.fa.fa-rss
						li
							input(placeholder="Buscar")
		.col-md-2
	.row
		.col-md-2
		.col-md-8
			.row
				.col-md-4

				.col-md-4
				.col-md-4
			.row
		.col-md-2
