doctype html
html(lang='es-PE')
	include head.jade
	body
		.container
			.row
				.col-md-2
				.col-md-8
					block header-banner
						.div
							block image
						.row
							.col-md-6
								block header-list
							.col-md-6
								block header-redes
				.col-md-2
			.row
				.col-md-2
				.col-md-8
					block header-editorial
						.row
							.col-md-4
								block image
							.col-md-4
								block header-editorial-noticia
							.col-md-4
								block autor
						.row
							block header-menu
				.col-md-2

