doctype html
html(lang='es-PE')
	include head.jade
	body
		.container
			.row
				.col-md-2
				.col-md-8
					block header-banner
						block header-image
							+imagen('../image/banner_top.jpg')
							block header-list
								.row
									.col-md-6
										ul.list-unstyled 
											+header-lista('LIBERO.PE')
											+header-lista('ELPOPULAR.PE')
											+header-lista('FUNDACION GUSTAVO MOHME LLONA')
									.col-md-6
										ul.list-unstyled 
											+header-lista('SUSCRIBETE AL BOLETIN')

							block header-redes
				.col-md-2
			.row
				.col-md-2
				.col-md-8
					block header-editorial
						.row
							.col-md-4
								block header-logo-image
									+imagen('../image/logo-la-republica.jpg')
							.col-md-4
								block header-editorial-noticia
							.col-md-4
								block autor
									+imagen('../image/img_editorial_text.jpg')
									+autor('La corrupción, los origenes','Gustavo Mohme Llona')
									+imagen('../image/img_author.jpg')
					block header-menu
						.row
							ul.list-unstyled.list-inline
								+header-lista('POLITICA')
								+header-lista('SOCIEDAD')
								+header-lista('ELECC.REGIONALES')
								+header-lista('DEPORTES')
								+header-lista('CHAMPIONS L')
								+header-lista('ESPECTÁCULOS')
								+header-lista('ED. IMPRESA')
								+header-lista('REGIONALES')
								+header-lista('MAS SECCIONES')
				.col-md-2

