doctype html
html(lang='es-PE')
	include head.jade
	body
		.container
			.row
				.col-md-2
				.col-md-8
					block header-banner
						block header-image
							+imagen('../image/banner_top.jpg')
							block header-list
								.row
									.col-md-6
										ul.list-unstyled 
											+header-lista('LIBERO.PE')
											+header-lista('ELPOPULAR.PE')
											+header-lista('FUNDACION GUSTAVO MOHME LLONA')
									.col-md-6
										ul.list-unstyled 
											+header-lista('SUSCRIBETE AL BOLETIN')

							block header-redes
				.col-md-2
			.row
				.col-md-2
				.col-md-8
					block header-editorial
						block header-logo-image
						block header-editorial-noticia
						block autor
					block header-menu
						.row
							ul.list-unstyled.list-inline
								+header-lista('POLITICA')
								+header-lista('SOCIEDAD')
								+header-lista('ELECC.REGIONALES')
								+header-lista('DEPORTES')
								+header-lista('CHAMPIONS L')
								+header-lista('ESPECTÁCULOS')
								+header-lista('ED. IMPRESA')
								+header-lista('REGIONALES')
								+header-lista('MAS SECCIONES')
				.col-md-2

