*{ 	outline:1px solid rgba(255,0,0,0.3); }
$color-texto:#8D8383;
$color-rojiso:#BB1313;
$color-blanco: #fff;
$color-azul: #112E8D;
$color-celeste: #4DB8EA;
$color-amarillo: #FFBF00;
$color-naranja: #FF4000;
$color-gris: #DDE0E2;
$text-14: 14px;
$text-12: 12px;
a{text-decoration:none;}
a:hover{text-decoration:none;}
.tam-1{
	width:20px;
}
.text-10{
	font-size:10px;
}
.text-11{
	font-size:11px;
}
.f-plomo{
	background-color: #DDE0E2;
}
.t-plomo{
	color:$color-texto;
}
.t-negro{
	color:#111;
}
.inline-block{display: inline-block;}
.azul{ color: $color-azul;}
.celeste{color: $color-celeste;}
.rojo{ color: $color-rojiso;}
.amarillo{color: $color-amarillo;}
.naranja{color: $color-naranja;}
.mg-0{margin:0;}
.pd-0{padding: 0;}
.font-weight-bold{font-weight: bold;}
.t-rojo{color:$color-rojiso;}
.t-azulado{color:#112E8D;}
.t-celeste{color:#4DB8EA;}
.t-courguete{font-family: "Courgette", sans-serif;}
.t-oswald{font-family: "Oswald", sans-serif;}
.mg-medio{margin:0.5em 0em;}
.pd-medio{padding:0.5em 0;}
.btn-rojo{font-weight:bold;background-color:$color-rojiso;color:#fff;padding: 0.5em 1em;text-decoration:none;margin:2em auto;}
.btn-plomo{font-weight:bold;background-color:#95A6AB;color:#fff;padding: 0.5em 1em;text-decoration:none;margin:2em auto;}
.borde-inf{	border-bottom:1px solid $color-texto;padding:0.5em 0;}
.ptb-2{padding-top: 2%; padding-bottom: 2%;}
.list-redes a:nth-child(1){ background: $color-rojiso; color: $color-blanco; margin-right: 2px; margin-left: 5px;}
.list-redes .li-span a{background: none;}
.list-redes .li-span span{font-size:$text-14;}
.list-redes p{padding-left:2px; padding-right: 5%;}
.input-redes-div{margin-left: 2px; margin-right: 5%;}
.input-redes{border:none; width: 50px; background: $color-gris;}
.header-logo{vertical-align:middle; padding-top: 10%;}
.editorial-autor{
	.img-edit{ display: inline-block; vertical-align:middle;}
	.img-edit img{max-height: 100%;}
	.autor{display: inline-block; width: 160px; vertical-align:middle; border-radius: 5%; border: 1px solid $color-gris; padding: 3% 1%;}
	.autor h4,p{margin:0; padding:0; font-size: $text-12;}
}
.justificado{text-align:justify;}
.left{text-align:left;}
.right{text-align:right;}
.enlinea{display:inline-block;}
.absoluta{position:absolute;}
#blog,#columnistas{
	h1{font-family: "Courgette", sans-serif; font-weight:700;}
	padding:1em 0;
	ul{text-align:center;}
	li{vertical-align:top;}
	.art{
		padding:1em 0.5em 0.5em;
		margin: 0.5em;
		width: 210px;
		height: 200px;
		border: 1px solid #CECED0;
		.fecha{
			height: 95px;
			margin:0;
			padding:0;
			a{color:#111;}
			p{color:$color-texto;}
		}
		.autor{
			background-color: #CECED0;
			height:80px;
			margin:0;
			padding:0;
			text-align:left;
			a{color:#111;}
			p{color:$color-texto;}
			img{
				border:2px solid #fff;
				margin: 1em 0.3em;
			}
		}
	}
}

#columnistas{
	.menu-abc{
		margin: 0.5em 0;
		padding: 0.7em;
		background-color:$color-rojiso;
		a{color:#fff; text-decoration:none; padding:0.2em 0.8em;border-radius:30px;}
		a:hover{text-decoration:none; background-color:#E71111;}
	}
	.columnista{
		background-color: #CECED0;
		margin: 2px 1px;
		width: 175px;
		height:60px;
		img{
			border:2px solid #fff;
			margin: 1em auto;
		}
		h4{color:#111; text-align:left;font-size:10px;margin-bottom:2px;}
		p{color:#383661; text-align:left; font-size:11px; font-weight:bold;}
		.col-xs-7{padding:0;}
	}
}
#contacto{
	h1{font-family: "Courgette", sans-serif; font-weight:700;}
	.enviar{
		img{display:inline;}
		text-align:center;
	}
	.enviar{text-align:center;}
}
#inicio{
	h1,h3,h4{font-family: "Courgette", sans-serif; font-weight:700; text-align:center;}
	.noticias{
		h3,h4{position:relative; bottom:5em;color:#fff;text-align:left}
		.capa-degradada{
			width:100%; 
			height:auto;
			background-color:rgba(0,0,0,0.3);
			position:relative;
			top:0;
		}

	}
	.columnista{
		img{border: 2px solid #fff; margin:0.5em auto;}
		li{
			width:120px;
			h5{font-weight:bold;}
		}
	}
	.secciones{
		li{
			width:230px;
			margin: 0.5em 0;
			.home-col{padding:0.5em 0; border: 1px solid $color-texto;}
			h5{position:relative; bottom:5em;color:#fff;text-align:left}
					
		}
	}
	.suscribete{
		background-image:url(../image/puntos.png);
		background-size:cover;
		background-repeat:no-repeat;
		.div{background-color:#fff; margin:1em;padding:0.5em;}
		.img{margin:auto;}	
	}
	.ultima-noticia{
		padding:0.5em;
		text-align:left;
		a{color:#111;}
	}
	.aweita,.popular,.wapa,.libero{
		border:1px solid #DAD3D3;
		padding:0.5em;
		margin:0.5em 0;
		text-align:center;
		img{margin:auto;}
		li{
			a{color:#111;font-weight:bold; text-align:left;}
		}
		a{color:#111;}
		span {color:$color-rojiso;}
		.borde-bajo{ padding: 0.5; border-bottom: 3px solid #621675;}
	}
	.destacadas{
		a{font-weight:bold;}
		li {
			a{color:#111;font-weight:bold;}
		}
	}
	.especiales{

		.capa{

			background-color:rgba(185, 184, 192, 0.8);
			bottom:30px;
			a{color:#111;font-weight:bold;}
		}
	}
	.blogueros{
		a{color:#111;}
		img{margin:auto;}

		.bloguer{
			padding:0;
			margin:0;
		}
	}
}
