extends ci/layout.jade
include ci/mixin.jade
block header-editorial
	.row
		.col-md-4
			block header-logo-image
				+imagen('../image/logo-la-republica.jpg')
		.col-md-4
			block header-editorial-noticia
				+header-editorial('DOMINGO','HABLA LA LIDEREZA DEL NACIONALISMO')
		.col-md-4
			block autor
				+imagen('../image/img_editorial_text.jpg')
				+autor('La corrupción, los origenes','Gustavo Mohme Llona')
				+imagen('../image/img_author.jpg')