extends ci/layout.jade
include ci/mixin.jade
block header-editorial-noticia
	+header-editorial('DOMINGO','HABLA LA LIDEREZA DEL NACIONALISMO')
block content
	+titular-principal('GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA')
	.text-center
		ul.list-unstyled.list-inline
			+li-a-img('','../image/sprites/ico-facebook.png')
			+li-a-img('','../image/sprites/ico-twitter.png')
			+li-a-img('','../image/sprites/ico-google-plus.png')
			+li-a-img('Hace 12 minutos','../image/bullet.gif')
			+li-a-img('POLITICA','')
	.row
		.col-md-6
			+imagen('../image/img_grid_principal.jpg')
			h3 JNE impulsará campaña en favor de la aprobación de la Reforma Electoral
		.col-md-6
			ul.list-unstyled
				li
					+imagen('../image/img_grid_secundario.jpg')
					h4 Martin Belaunde Lossio: Empresas vinculadas al empresario contrataron por S/. 3 000 millones | FOTOS
				li
					+imagen('../image/img_grid_especiales.jpg')
					h4 Sub-20: Perú vs. Paraguay: bicolor empató 1-1 y pasó al hexagonal final de Sudamericano | VIDEO
	//- Columnistas
	.row
		.col-sm-8
		.col-sm-4
	//- 
	.row
	//- ultimas noticias
	.row
		.col-sm-8
			+seccion-descripcion('ULTIMAS NOTICIAS')
			ul.list-unstyled.list-inline
				+ultimas-noticias('Hace 1 hora 12 min','Emma Watson protagonizara "La bella y la bestia"','../image/img_news.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nihil mollitia possimus distinctio maiores perspiciatis dignissimos maxime dolorem quam...','10','ESPECTACULOS')
				+ultimas-noticias('Hace 1 hora 12 min','Emma Watson protagonizara "La bella y la bestia"','../image/img_news.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nihil mollitia possimus distinctio maiores perspiciatis dignissimos maxime dolorem quam...','10','ESPECTACULOS')
				+ultimas-noticias('Hace 1 hora 12 min','Emma Watson protagonizara "La bella y la bestia"','../image/img_news.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nihil mollitia possimus distinctio maiores perspiciatis dignissimos maxime dolorem quam...','10','ESPECTACULOS')
				+ultimas-noticias('Hace 1 hora 12 min','Emma Watson protagonizara "La bella y la bestia"','../image/img_news.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nihil mollitia possimus distinctio maiores perspiciatis dignissimos maxime dolorem quam...','10','ESPECTACULOS')
		.col-sm-4
			//-suscribete
			.row
			//- aweita
			.row.aweita.pd-medio
				+imagen('../image/logo_aweita.jpg')
				ul.list-unstyled.list-inline
					+art('../image/fotogaleria_main.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
					+art('../image/fotogaleria_main.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
					+art('../image/fotogaleria_main.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
					+art('../image/fotogaleria_main.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
				a.borde-bajo.text-10(href="#") Mas en 
					span aweita.pe
			//-fotos destacadas
			.row.destacadas.pd-medio
				a.btn-plomo(href="#") FOTOS DESTACADAS
				+imagen('../image/img_fotodes_prominent.jpg')
				a.t-negro(href="#") Lineas de Nazca: admiten prision preventiva de 6 meses para activistas de Greenpeace
				ul.list-unstyled.list-inline
					+art('../image/fotogaleria_main.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
					+art('../image/fotogaleria_main.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
					+art('../image/fotogaleria_main.jpg',' Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
			//-especiales
			.row.especiales.pd-medio
				a.btn-plomo(href="#") ESPECIALES
				ul.list-unstyled.list-inline
					+imagen-capa('../image/img_especiales_aside.jpg','Regimen Laboral Juvenil')


			

